In [299]:
import pandas as pd

In [300]:
student_data = pd.read_csv("students_complete.csv")

In [301]:
school_data= pd.read_csv("schools_complete.csv")

In [302]:
passing_grade=69
unique_schools = len(school_data["school_name"].unique())
total_students = len(student_data["Student ID"].unique())
total_budget = school_data["budget"].sum()
passing_math =len(student_data.loc[student_data["math_score"]>passing_grade,:])/len(student_data)
passing_reading =len(student_data.loc[student_data["reading_score"]>passing_grade,:])/len(student_data)
overall_passing = len(student_data.loc[(student_data["reading_score"]>passing_grade) & (student_data["math_score"]>passing_grade),:])/len(student_data)
avg_math = student_data["math_score"].mean()
avg_reading = student_data["reading_score"].mean()

In [303]:
district_summary =pd.DataFrame({"Number of Schools":[unique_schools], 
                               "Number of Students":[total_students], 
                               "Total budget": [total_budget], 
                               "Average Math Score":[avg_math],
                                "Average Reading Score": [avg_reading],
                               "% of passing math": [(passing_math*100)], 
                               "% of passing reading":[(passing_reading*100)], 
                               "% of overall passing":[(overall_passing*100)]})

In [304]:
district_summary

,Number of Schools,Number of Students,Total budget,Average Math Score,Average Reading Score,% of passing math,% of passing reading,% of overall passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [305]:
total_data = pd.merge(student_data, school_data, on="school_name")

In [306]:
total_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [307]:
per_school_summary =total_data.groupby(["school_name","type"]).aggregate({"Student ID":"count", "budget": "mean", 
                                                                      "math_score":"mean", "reading_score":"mean"})

In [308]:
per_school_summary

,,Student ID,budget,math_score,reading_score
school_name,type,,,,
Bailey High School,District,4976,3124928.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356.0,83.061895,83.975780
Figueroa High School,District,2949,1884411.0,76.711767,81.158020
Ford High School,District,2739,1763916.0,77.102592,80.746258
Griffin High School,Charter,1468,917500.0,83.351499,83.816757
Hernandez High School,District,4635,3022020.0,77.289752,80.934412
Holden High School,Charter,427,248087.0,83.803279,83.814988
Huang High School,District,2917,1910635.0,76.629414,81.182722
Johnson High School,District,4761,3094650.0,77.072464,80.966394
Pena High School,Charter,962,585858.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574.0,83.274201,83.989488
Wright High School,Charter,1800,1049400.0,83.682222,83.955000

In [309]:
passing_math =(total_data.loc[total_data["math_score"]>69,:])

In [310]:
percent_passing_math = passing_math.groupby(["school_name","type"]).aggregate({"math_score":"count"})

In [311]:
percent_passing_math["% passing math"] = 100*percent_passing_math["math_score"]/per_school_summary["Student ID"]

In [312]:
percent_passing_math

                                math_score  % passing math
school_name           type
Bailey High School    District        3318       66.680064
Cabrera High School   Charter         1749       94.133477
Figueroa High School  District        1946       65.988471
Ford High School      District        1871       68.309602
Griffin High School   Charter         1371       93.392371
Hernandez High School District        3094       66.752967
Holden High School    Charter          395       92.505855
Huang High School     District        1916       65.683922
Johnson High School   District        3145       66.057551
Pena High School      Charter          910       94.594595
Rodriguez High School District        2654       66.366592
Shelton High School   Charter         1653       93.867121
Thomas High School    Charter         1525       93.272171
Wilson High School    Charter         2143       93.867718
Wright High School    Charter         1680       93.333333

In [313]:
passing_reading = total_data.loc[total_data["reading_score"]>69,:]

In [314]:
percent_passing_reading= passing_reading.groupby(["school_name", "type"]).aggregate({"reading_score":"count"})

In [315]:
percent_passing_reading["% passing reading"] = 100*percent_passing_reading["reading_score"]/per_school_summary["Student ID"]

In [316]:
percent_passing_reading.drop(columns= ["reading_score"])

                                % passing reading
school_name           type
Bailey High School    District          81.933280
Cabrera High School   Charter           97.039828
Figueroa High School  District          80.739234
Ford High School      District          79.299014
Griffin High School   Charter           97.138965
Hernandez High School District          80.862999
Holden High School    Charter           96.252927
Huang High School     District          81.316421
Johnson High School   District          81.222432
Pena High School      Charter           95.945946
Rodriguez High School District          80.220055
Shelton High School   Charter           95.854628
Thomas High School    Charter           97.308869
Wilson High School    Charter           96.539641
Wright High School    Charter           96.611111

In [317]:
overall_passing = total_data.loc[(total_data["reading_score"]>69) & (total_data["math_score"]>69),:]

In [318]:
percent_overall_passing = overall_passing.groupby(["school_name", "type"]).aggregate({"reading_score":"count"
                                                                                            })

In [319]:
percent_overall_passing["% of overall passing"] = 100*percent_overall_passing["reading_score"]/per_school_summary["Student ID"]

In [320]:
percent_overall_passing=percent_overall_passing.drop(columns =["reading_score"])

In [321]:
percent_passing_math

                                math_score  % passing math
school_name           type
Bailey High School    District        3318       66.680064
Cabrera High School   Charter         1749       94.133477
Figueroa High School  District        1946       65.988471
Ford High School      District        1871       68.309602
Griffin High School   Charter         1371       93.392371
Hernandez High School District        3094       66.752967
Holden High School    Charter          395       92.505855
Huang High School     District        1916       65.683922
Johnson High School   District        3145       66.057551
Pena High School      Charter          910       94.594595
Rodriguez High School District        2654       66.366592
Shelton High School   Charter         1653       93.867121
Thomas High School    Charter         1525       93.272171
Wilson High School    Charter         2143       93.867718
Wright High School    Charter         1680       93.333333

In [322]:
math_and_reading =pd.merge(percent_passing_math, percent_passing_reading, left_index=True, right_index=True)

In [323]:
percent_overall_passing = pd.merge(math_and_reading, percent_overall_passing, left_index=True, right_index=True)

In [324]:
percent_overall_passing=percent_overall_passing.drop(columns=["math_score", "reading_score"])
percent_overall_passing

,,% passing math,% passing reading,% of overall passing
school_name,type,,,
Bailey High School,District,66.680064,81.933280,54.642283
Cabrera High School,Charter,94.133477,97.039828,91.334769
Figueroa High School,District,65.988471,80.739234,53.204476
Ford High School,District,68.309602,79.299014,54.289887
Griffin High School,Charter,93.392371,97.138965,90.599455
Hernandez High School,District,66.752967,80.862999,53.527508
Holden High School,Charter,92.505855,96.252927,89.227166
Huang High School,District,65.683922,81.316421,53.513884
Johnson High School,District,66.057551,81.222432,53.539172
Pena High School,Charter,94.594595,95.945946,90.540541
Rodriguez High School,District,66.366592,80.220055,52.988247
Shelton High School,Charter,93.867121,95.854628,89.892107
Thomas High School,Charter,93.272171,97.308869,90.948012
Wilson High School,Charter,93.867718,96.539641,90.582567
Wright High School,Charter,93.333333,96.611111,90.333333

In [325]:
per_school_summary

,,Student ID,budget,math_score,reading_score
school_name,type,,,,
Bailey High School,District,4976,3124928.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356.0,83.061895,83.975780
Figueroa High School,District,2949,1884411.0,76.711767,81.158020
Ford High School,District,2739,1763916.0,77.102592,80.746258
Griffin High School,Charter,1468,917500.0,83.351499,83.816757
Hernandez High School,District,4635,3022020.0,77.289752,80.934412
Holden High School,Charter,427,248087.0,83.803279,83.814988
Huang High School,District,2917,1910635.0,76.629414,81.182722
Johnson High School,District,4761,3094650.0,77.072464,80.966394
Pena High School,Charter,962,585858.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574.0,83.274201,83.989488
Wright High School,Charter,1800,1049400.0,83.682222,83.955000

In [326]:
per_school_summary["Total Students"]=per_school_summary["Student ID"]
per_school_summary["Average Math Scores"]=per_school_summary["math_score"]
per_school_summary["Average Reading Scores"]= per_school_summary["reading_score"]
per_school_summary

,,Student ID,budget,math_score,reading_score,Total Students,Average Math Scores,Average Reading Scores
school_name,type,,,,,,,
Bailey High School,District,4976,3124928.0,77.048432,81.033963,4976,77.048432,81.033963
Cabrera High School,Charter,1858,1081356.0,83.061895,83.975780,1858,83.061895,83.975780
Figueroa High School,District,2949,1884411.0,76.711767,81.158020,2949,76.711767,81.158020
Ford High School,District,2739,1763916.0,77.102592,80.746258,2739,77.102592,80.746258
Griffin High School,Charter,1468,917500.0,83.351499,83.816757,1468,83.351499,83.816757
Hernandez High School,District,4635,3022020.0,77.289752,80.934412,4635,77.289752,80.934412
Holden High School,Charter,427,248087.0,83.803279,83.814988,427,83.803279,83.814988
Huang High School,District,2917,1910635.0,76.629414,81.182722,2917,76.629414,81.182722
Johnson High School,District,4761,3094650.0,77.072464,80.966394,4761,77.072464,80.966394
Pena High School,Charter,962,585858.0,83.839917,84.044699,962,83.839917,84.044699
Rodriguez High School,District,3999,2547363.0,76.842711,80.744686,3999,76.842711,80.744686
Shelton High School,Charter,1761,1056600.0,83.359455,83.725724,1761,83.359455,83.725724
Thomas High School,Charter,1635,1043130.0,83.418349,83.848930,1635,83.418349,83.848930
Wilson High School,Charter,2283,1319574.0,83.274201,83.989488,2283,83.274201,83.989488
Wright High School,Charter,1800,1049400.0,83.682222,83.955000,1800,83.682222,83.955000

In [327]:
per_school_summary=per_school_summary.drop(columns=["math_score", "reading_score","Student ID"])
per_school_summary["Per Student Budget"]=per_school_summary["budget"]/per_school_summary["Total Students"]
per_school_summary

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget
school_name,type,,,,,
Bailey High School,District,3124928.0,4976,77.048432,81.033963,628.0
Cabrera High School,Charter,1081356.0,1858,83.061895,83.975780,582.0
Figueroa High School,District,1884411.0,2949,76.711767,81.158020,639.0
Ford High School,District,1763916.0,2739,77.102592,80.746258,644.0
Griffin High School,Charter,917500.0,1468,83.351499,83.816757,625.0
Hernandez High School,District,3022020.0,4635,77.289752,80.934412,652.0
Holden High School,Charter,248087.0,427,83.803279,83.814988,581.0
Huang High School,District,1910635.0,2917,76.629414,81.182722,655.0
Johnson High School,District,3094650.0,4761,77.072464,80.966394,650.0
Pena High School,Charter,585858.0,962,83.839917,84.044699,609.0
Rodriguez High School,District,2547363.0,3999,76.842711,80.744686,637.0
Shelton High School,Charter,1056600.0,1761,83.359455,83.725724,600.0
Thomas High School,Charter,1043130.0,1635,83.418349,83.848930,638.0
Wilson High School,Charter,1319574.0,2283,83.274201,83.989488,578.0
Wright High School,Charter,1049400.0,1800,83.682222,83.955000,583.0

In [328]:
per_school_summary= pd.merge(per_school_summary,percent_overall_passing, left_index=True, right_index=True)

In [329]:
per_school_summary

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget,% passing math,% passing reading,% of overall passing
school_name,type,,,,,,,,
Bailey High School,District,3124928.0,4976,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356.0,1858,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Figueroa High School,District,1884411.0,2949,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Ford High School,District,1763916.0,2739,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
Griffin High School,Charter,917500.0,1468,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Hernandez High School,District,3022020.0,4635,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Holden High School,Charter,248087.0,427,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
Huang High School,District,1910635.0,2917,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Johnson High School,District,3094650.0,4761,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
Pena High School,Charter,585858.0,962,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
Rodriguez High School,District,2547363.0,3999,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Shelton High School,Charter,1056600.0,1761,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
Thomas High School,Charter,1043130.0,1635,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Wilson High School,Charter,1319574.0,2283,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Wright High School,Charter,1049400.0,1800,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [330]:
top_schools = per_school_summary.sort_values("% of overall passing", ascending=False).head(5)

In [331]:
top_schools

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget,% passing math,% passing reading,% of overall passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1081356.0,1858,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Thomas High School,Charter,1043130.0,1635,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Griffin High School,Charter,917500.0,1468,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Wilson High School,Charter,1319574.0,2283,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Pena High School,Charter,585858.0,962,83.839917,84.044699,609.0,94.594595,95.945946,90.540541

In [332]:
bottom_schools = per_school_summary.sort_values("% of overall passing", ascending=True).head(5)
bottom_schools

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget,% passing math,% passing reading,% of overall passing
school_name,type,,,,,,,,
Rodriguez High School,District,2547363.0,3999,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Figueroa High School,District,1884411.0,2949,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Huang High School,District,1910635.0,2917,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Hernandez High School,District,3022020.0,4635,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Johnson High School,District,3094650.0,4761,77.072464,80.966394,650.0,66.057551,81.222432,53.539172

In [333]:
total_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [334]:
math_score_by_grade= total_data.groupby("grade").aggregate({"math_score":"mean"})
math_score_by_grade

       math_score
grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659

In [335]:
reading_by_grade= total_data.groupby("grade").aggregate({"reading_score":"mean"})
reading_by_grade

       reading_score
grade
10th       81.874410
11th       81.885714
12th       81.819851
9th        81.914358

In [336]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [337]:
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], bins=spending_bins, labels=labels)

In [338]:
per_school_summary

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget,% passing math,% passing reading,% of overall passing,Spending Ranges (Per Student)
school_name,type,,,,,,,,,
Bailey High School,District,3124928.0,4976,77.048432,81.033963,628.0,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1081356.0,1858,83.061895,83.975780,582.0,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,1884411.0,2949,76.711767,81.158020,639.0,65.988471,80.739234,53.204476,$630-645
Ford High School,District,1763916.0,2739,77.102592,80.746258,644.0,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,917500.0,1468,83.351499,83.816757,625.0,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,3022020.0,4635,77.289752,80.934412,652.0,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,248087.0,427,83.803279,83.814988,581.0,92.505855,96.252927,89.227166,<$585
Huang High School,District,1910635.0,2917,76.629414,81.182722,655.0,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,3094650.0,4761,77.072464,80.966394,650.0,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,585858.0,962,83.839917,84.044699,609.0,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,2547363.0,3999,76.842711,80.744686,637.0,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1056600.0,1761,83.359455,83.725724,600.0,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1043130.0,1635,83.418349,83.848930,638.0,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,1319574.0,2283,83.274201,83.989488,578.0,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1049400.0,1800,83.682222,83.955000,583.0,93.333333,96.611111,90.333333,<$585

In [339]:
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Scores"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Scores"].mean()
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% passing math"].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% passing reading"].mean()
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% of overall passing"].mean()

In [340]:
spending_math_scores

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Scores, dtype: float64

In [341]:
spending_reading_scores

Spending Ranges (Per Student)
<$585       83.933814
$585-630    83.155286
$630-645    81.624473
$645-680    81.027843
Name: Average Reading Scores, dtype: float64

In [342]:
spending_passing_math

Spending Ranges (Per Student)
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % passing math, dtype: float64

In [343]:
spending_passing_reading

Spending Ranges (Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % passing reading, dtype: float64

In [344]:
overall_passing_spending

Spending Ranges (Per Student)
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % of overall passing, dtype: float64

In [345]:
spending_summary = pd.DataFrame({"Average math score":spending_math_scores,
                                "Average reading score":spending_reading_scores,
                                "% passing math":spending_passing_math,
                                "% passing reading": spending_passing_reading,
                                "% overall passing": overall_passing_spending})

In [346]:
spending_summary

,Average math score,Average reading score,% passing math,% passing reading,% overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [347]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [348]:
per_school_summary["size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels= size_labels)
per_school_summary

,,budget,Total Students,Average Math Scores,Average Reading Scores,Per Student Budget,% passing math,% passing reading,% of overall passing,Spending Ranges (Per Student),size
school_name,type,,,,,,,,,,
Bailey High School,District,3124928.0,4976,77.048432,81.033963,628.0,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1081356.0,1858,83.061895,83.975780,582.0,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,1884411.0,2949,76.711767,81.158020,639.0,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,1763916.0,2739,77.102592,80.746258,644.0,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,917500.0,1468,83.351499,83.816757,625.0,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,District,3022020.0,4635,77.289752,80.934412,652.0,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Holden High School,Charter,248087.0,427,83.803279,83.814988,581.0,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,1910635.0,2917,76.629414,81.182722,655.0,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Johnson High School,District,3094650.0,4761,77.072464,80.966394,650.0,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Pena High School,Charter,585858.0,962,83.839917,84.044699,609.0,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Rodriguez High School,District,2547363.0,3999,76.842711,80.744686,637.0,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Shelton High School,Charter,1056600.0,1761,83.359455,83.725724,600.0,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Thomas High School,Charter,1043130.0,1635,83.418349,83.848930,638.0,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Wilson High School,Charter,1319574.0,2283,83.274201,83.989488,578.0,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1049400.0,1800,83.682222,83.955000,583.0,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [349]:
size_math_scores = per_school_summary.groupby(["size"])["Average Math Scores"].mean()
size_reading_scores = per_school_summary.groupby(["size"])["Average Reading Scores"].mean()
size_passing_math = per_school_summary.groupby(["size"])["% passing math"].mean()
size_passing_reading = per_school_summary.groupby(["size"])["% passing reading"].mean()
overall_passing_size = per_school_summary.groupby(["size"])["% of overall passing"].mean()

In [350]:
size_summary=pd.DataFrame({"Mean Math Scores By Size":size_math_scores,
                          "Mean Reading Scores By Size": size_reading_scores,
                          "Passing Math By Size": size_passing_math,
                          "Passing Reading By Size": size_passing_reading,
                          "Overall Passing By Size":overall_passing_size })

In [351]:
size_summary

,Mean Math Scores By Size,Mean Reading Scores By Size,Passing Math By Size,Passing Reading By Size,Overall Passing By Size
size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [352]:
type_math_scores = per_school_summary.groupby(["type"])["Average Math Scores"].mean()
type_reading_scores = per_school_summary.groupby(["type"])["Average Reading Scores"].mean()
type_passing_math = per_school_summary.groupby(["type"])["% passing math"].mean()
type_passing_reading = per_school_summary.groupby(["type"])["% passing reading"].mean()
overall_passing_type = per_school_summary.groupby(["type"])["% of overall passing"].mean()

In [353]:
type_summary =pd.DataFrame({"Mean Math Scores By type":type_math_scores,
                          "Mean Reading Scores By type": type_reading_scores,
                          "Passing Math By type": type_passing_math,
                          "Passing Reading By type": type_passing_reading,
                          "Overall Passing By type":overall_passing_type })

In [354]:
type_summary

,Mean Math Scores By type,Mean Reading Scores By type,Passing Math By type,Passing Reading By type,Overall Passing By type
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208